* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, serif;
}
.font {
    margin: 0 auto;
    position: relative;
    width: 1280px;
    height: 1626px;
}
.navbar{
    position: absolute;
    display: flex;
    width: 620px;
    height: 15px;
    left: 330px;
    top: 31.5px;
}
.HOME{
    position: absolute;
    text-decoration: none;
    color: #FF0000;
    top: -6px;
    font-size: 18px;
    line-height: 18px;
}
 .photo-app{
     position: absolute;
     text-decoration: none;
     left: 140px;
     top: -6px;
     font-size: 18px;
     line-height: 18px;
     color: #FF0000;
 }

.design{
    position: absolute;
    text-decoration: none;
    left: 343px;
    top: -6px;
    font-size: 18px;
    line-height: 18px;
    color: #FF0000;
}
.download{
    text-decoration: none;
    position: absolute;
    left: 480px;
    top: -6px;
    font-size: 18px;
    line-height: 18px;
    color: #FF0000;
}
.img {
    position: absolute;
    display: inline-block;
    background-image: url("../IMG/image 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1280px;
    height: 789px;
    top: 78px;
}
.content{
    position: absolute;
    width: 1280px;
    height: 650px;
    bottom: 108px;
}

.first-text{
    position: absolute;
    width: 774px;
    height: 29px;
    left: 253px;
    top: 48px;
    display: flex;
    align-items: flex-end;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
}
.second-text{
    position: absolute;
    width: 1145px;
    height: 132px;
    left: 67.5px;
    top: 115px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}
.third-text{
    position: absolute;
    width: 1145px;
    height: 216px;
    left: 67.5px;
    top: 275px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}
.button{
    position: absolute;
    width: 191px;
    height: 51px;
    left: 544.5px;
    top: 557px;
    background: #FF0000;
    border-radius: 4px;
    color: #FFFFFF;
    padding: 18px 43.5px 17px 42.5px;
    text-transform: uppercase;
}
.footer{
    position: absolute;
    display:table;
    height: 39px;
    right: 105px;
    bottom: 29px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    letter-spacing: 2.4px;
    color: #373737;
}

